@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mukta:wght@300&family=Poppins:wght@500&display=swap');


:root{
    --nao-branco: rgb(208, 208, 208);
}
.container2{
    background-color: black;
    width: 67%;
    margin: 0 auto;
    border-radius: 10px;
    height: 10px;
    
}

.lista-nao-ordenada{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    list-style-type: none;
}

.horario {
    font-family: 'Mukta', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    text-align: center;
}

.paragrafo-horario{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

li {
    margin: 30px 25px 25px 25px; /*cima direita embaixo e esquerda*/
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    padding: 30px 40px 70px 40px;
}

img {
    width: 100px;
    height: 80px;
    border-radius: 15px;
    margin-top: 7px;
}

li:hover {
    padding: 30px 50px 70px 50px;
    background-color: var(--nao-branco);
    margin: 30px 35px 15px 35px;
}